* {
 box-sizing: border-box;
 padding: 0;
 margin: 0;
}

body {
 display: flex;
 flex-direction: column;
}

#hamburger-icon {
 display: none;
 cursor: pointer;
}
  
#hamburger-icon div {
 display: block;
 width: 40px;
 height: 7px;
 margin-bottom: 4px;
 background-color: black;
 border-radius: 10px;
}

header {
 width: 100%;
 height: 90px;
 position: fixed;

}

#big {
 font-size: 65px;
}

.section1 {
 padding-top: 3.2rem;
 background: linear-gradient(to right,rgba(245,245,245,.8),rgba(245,245,245,.8)),url(https://d33wubrfki0l68.cloudfront.net/daac8858fd4a0ccea44f59dfd079c3c16c263f33/c157c/assets/svg/common-bg.svg); 
 height: 1000px;
 display:flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}

.section2 {
 background-color: #fafafa;
 height: 1000px;
 display:flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}

.section3 {
 display:flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 height: 4000px;
}

.section4 {
 background: linear-gradient(to right,rgba(245,245,245,.8),rgba(245,245,245,.8)),url(https://d33wubrfki0l68.cloudfront.net/daac8858fd4a0ccea44f59dfd079c3c16c263f33/c157c/assets/svg/common-bg.svg);
 height: 450px;
 display:flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}


.wider {
 width: 50%;
}

.nav img {
    width: 70px;
    height: 70px;
    border-radius: 70px;
}

.left {
    display: flex;
    gap: 20px;
    align-items: center;
    padding-left: 30px;
}


.nav {
 display: flex;
 align-items: center;
 justify-content: space-between;
 background-color: white;
 height: 100%;
    
}

.buttons {
 text-align: right;
 font-size: 20px;
 display: flex;
 justify-content: space-evenly;
 color:#333;
 padding-right: 30px;
}


ul li {
 list-style-type: none;
 text-decoration:none;

}

.nav a {
 text-decoration: none;
 color: #333;
 font-size: 25px;
 padding-left: 5px;
}

.buttons a  {
 padding:15px;
 gap:10px;
 color: #333;
}

a {
 text-decoration: none;
 color: #111;
}

.title1 { 
 margin-top: 40px;
 text-align: center;
 font-size: 3.5rem;
}

.text1 {
 text-align: center;
 font-size: 18px;
 padding-top: 40px;
}

.text2 {
 color: #555;
 width: 40%;
 margin: auto;
 font-size: 25px;
}

.project {
 margin: 40px 0px 50px 0px;
 padding: 20px 50px;
 font-size: 20px;
 background-color: #facf0f;
 border: none;
 border-radius: 5px;
 box-shadow: 0 5px 15px 0 rgba(0,0,0,.15);
 font-weight: 600;
 letter-spacing: 1px;
 text-transform: uppercase;
 display: inline-block;
}

.about_me {
 text-align: center;
 font-size: 18px;
}

.contact {
margin: 40px 0px 50px 0px;
padding: 20px 50px;
font-size: 20px;
background-color: #facf0f;
border: none;
border-radius: 5px;
box-shadow: 0 5px 15px 0 rgba(0,0,0,.15);
font-weight: 600;
letter-spacing: 1px;
text-transform: uppercase;
display: inline-block;
}

.contact_button {
padding-top: 40px;

}

img {
width: 100%;
border: 3px solid black;

}

.img1 {
padding-top: 40px;
padding-right: 20px;
padding-left: 20px;
}

.foot {
background-color: black;
height: 40px;
}

.white {
color: white;
text-align: center;
padding-top: 20px;
font-size: 10px;
}

h2{
padding-top: 40px;
padding-left: 10px;
text-align: left;
}

.data {
display: flex;
flex-direction: column;
}

.white_a a {
color:  #555;
width: 100%;
margin: auto;
font-size: 25px;

}

.white_a {
display: flex;
flex-direction: column;
align-items: center;
padding-bottom: 20px;

}

p {
color: #555;
width: 40%;
margin: auto;
font-size: 25px;
}

#con {
padding-top: 20px;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-device-pixel-ratio: 2) {

    header {
        width: 100%;
        height: 60px;
        position: fixed;

    }

    .nav img {
        height: 50px;
        width: 50px;

    }

    .left {
        padding-left: 5px;
        gap: 5px;
    }

    .section1 {
        padding-top: 0;
        background: linear-gradient(to right,rgba(245,245,245,.8),rgba(245,245,245,.8)),url(https://d33wubrfki0l68.cloudfront.net/daac8858fd4a0ccea44f59dfd079c3c16c263f33/c157c/assets/svg/common-bg.svg);
        height: 600px; 
    }

    .section2 {
        background-color: #fafafa;
        height: 500px;
    }

    .section3 {
        height: 1000px;
    }

    .section4 {
        background: linear-gradient(to right,rgba(245,245,245,.8),rgba(245,245,245,.8)),url(https://d33wubrfki0l68.cloudfront.net/daac8858fd4a0ccea44f59dfd079c3c16c263f33/c157c/assets/svg/common-bg.svg);
        height: 300px;
    }

    .bot_line {
        border-bottom: black solid 1px;
    }


    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        
    }

    .buttons {
        display: none;
        z-index: 1;
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        z-index: 1;
        background-color: white;
        padding: px;
        text-align: right;
        font-size: 20px;
    }

    ul li {
        list-style-type: none;
        text-decoration:none;
        border-top: 1px solid black;
        padding: 10px;
    
    }
    
    .nav a {
        text-decoration: none;
        color:black;
        font-size: 25px;
        padding-left: 5px;
    }

    * {
        padding: 0px;
        margin: 0px;
    }
    
    #hamburger-icon {
        display: block;
        align-self: flex-end;
        padding: 17px 10px 10px;
    }

    .buttons a  {
        padding:15px;
        gap:10px;
    }

    a {
        text-decoration: none;
        color: #111;
    }

    .title1 { 
        margin-top: 40px;
        text-align: center;
        font-size: 3.5rem;
    }

    .text1 {
        text-align: center;
        font-size: 18px;
        padding-top: 40px;
    }

    .project {
        margin: 40px 0px 50px 0px;
        padding: 10px 20px;
        font-size: 20px;
        width: 50%;
        background-color: #facf0f;
        border: none;
        border-radius: 5px;
        box-shadow: 0 5px 15px 0 rgba(0,0,0,.15);
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
        display: inline-block;
    }

    .about_me {
        text-align: center;
        font-size: 18px;
    }

   .contact {
    margin: 40px 0px 50px 0px;
    padding: 10px 20px;
    font-size: 20px;
    width: 50%;
    background-color: #facf0f;
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.15);
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inline-block;
   }

   .contact_button {
    padding-top: 40px;

   }

   img {
    width: 100%;
    border: 3px solid black;

   }

   .img1 {
    padding-top: 40px;
    padding-right: 20px;
    padding-left: 20px;
   }

   .foot {
    background-color: black;
    height: 40px;
   }

   .white {
    color: white;
    text-align: center;
    padding-top: 20px;
    font-size: 10px;
   }

   h2{
    padding-top: 40px;
    padding-left: 10px;
    text-align: left;
   }

   .data {
    display: flex;
    flex-direction: column;
   }

   .white_a a {
    color:  #555;
   }

   .white_a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
   }

   p {
    color: #555;
    font-size: 17px;
    width: 100%;
   }

   .wider {
    color: #555;
    font-size: 17px;
    width: 100%;
   }

   .text2 {
    color: #555;
    font-size: 17px;
    width: 100%;
   }
   
   #con {
    padding-top: 20px;
   }
}
